* {
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  margin: 0;
}

.wrapper {
  background-color: white;
  border: 3px solid black;
  padding: 16px;
  margin: 20px;

  display: grid;
  gap: 8px;
}

.box {
  min-height: 60px;
}

.box1 {
  background-color: #eebbc3;
}

.box2 {
  background-color: #6d1a7a;
}

.box3 {
  background-color: #f3e2f3;
}

/* How the page should look up until 800px */
@media (max-width: 800px) {
  .wrapper {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "pink   lavender"
      "purple lavender";
  }

  .box1 {
    grid-area: pink;
    min-height: 260px;
  }

  .box2 {
    grid-area: purple;
    min-height: 120px;
  }

  .box3 {
    grid-area: lavender;
  }
}

/* How the page should look after 800px */
@media (min-width: 801px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "pink purple lavender";
  }

  .box1 {
    grid-area: pink;
  }

  .box2 {
    grid-area: purple;
  }

  .box3 {
    grid-area: lavender;
  }

  .box {
    min-height: 500px;
  }
}